[Unit]
Description=Remote Desktop Socket
After=network.target tailscaled.service

[Socket]
ListenStream=3389
Accept=yes
FreeBind=yes

# Bind to Tailscale interface only
BindToDevice=tailscale0

# Maximum connections
MaxConnections=1

[Install]
WantedBy=sockets.target
